.te {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.te .personlist {
	overflow: hidden;
	text-align: center;
	font-size: 0; /* trick to eliminate whitespace between inline-block elements */
}

	.te .groupheader {
		display: inline-block;
	    width: 100%;
		text-align: left;
	}
	
	html[dir="rtl"] .te .groupheader {
		text-align: right;
	}
	
	.te .groupheader .header {
		border-bottom: 1px solid #DDDDDD;
	}
	
	.te .groupheader .subheader {
		border-bottom: 1px solid #DDDDDD;
		margin-left: 20px;
	}
	
	html[dir="rtl"] .te .groupheader .subheader {
		margin-left: 0;
		margin-right: 20px;
	}
	
	.te .contactgroup {
		overflow: hidden;
		text-align: center;
		font-size: 0; /* trick to eliminate whitespace between inline-block elements */
	}
	
	.te .contactgroup .person {
		white-space: normal;
	}

	.te .person {
		overflow: hidden;
		position: relative; 
		margin-top: 5px;
		margin-bottom: 5px;	
		display: inline-block;		
		vertical-align: top;
		text-align: left;		
		z-index: 0; /* to avoid template issues */
	}
	
	.te .outerperson {
		position: relative;
		overflow: hidden;
	}
	
		.te .iconlinks {
			display: block;
			position: absolute;
			z-index: 50;
			overflow: hidden;
		}
		
			.te .iconlinks ul {
				list-style: none;
				margin: 0;	
				padding: 0;
				text-align: center;
			}
			
				.te .iconlinks ul li {
					list-style: none;
					display: inline-block;
					margin: 0 2px;
					padding: 0; /* to avoid template overrides */
				}
				
					.te .iconlinks a {
						display: inline-block;
					}
					
						.te .iconlinks .icon {
							line-height: 1em;
							width: 1em;
							display: inline-block;
							vertical-align: middle;
						}
						
						.te .iconlinks span {
							display: none;
						}
	
		.te .personinfo .tags .icon {
			margin: 0;
			padding: 0;
			color: inherit;
			font-size: 1em; /* keeps size of text in label */ 
		}
	
		.te .vcard {
			display: block;
			position: absolute;
			z-index: 50;
		}		
		
			.te .vcard a {
				display: inline-block;
			}	
			
				.te .vcard .icon {
					display: inline-block;
    				overflow: hidden;
    				vertical-align: middle;
    			}				

		.te .innerperson {
			overflow: hidden;
			position: relative;
		}		
		
			.te .featured .feature {
				display: none;
				line-height: 1em;
			}
			
			.te .featured.picture_left .picture_veil .feature,
			.te .featured.picture_right .picture_veil .feature,
			.te .featured.picture_top .picture_veil .feature,
			.te .featured.text_only .text_veil .feature {
				display: inline-block;
			}		
			
				.te .featured .feature .icon {
					display: inline-block;
    				overflow: hidden;
    				padding: 0.2em;	
    				vertical-align: middle;
    			}	
	
			.te .personpicture {
    			overflow: hidden;
    			position: relative;
				z-index: 25;
			}
			
				.te .individualbg {
					position: absolute;
	    			max-height: 100%;
	    			width: 100%;
	    			max-width: 100%;
	    			overflow: hidden;
				}
			
						.te .innerindividualbg img {
							width: 100%;
						}		
			
			.te .picture_left .personpicture {
				float: left;
    			height: 100%;
			}
			
			.te .picture_right .personpicture {
				float: right;
    			height: 100%;
			}
			
			.te .picture_top .personpicture  {
				margin-left: auto;
				margin-right: auto;
			}
			
			.te .text_only .personpicture  {
				display: none;
			}
			
				.te .nopicture {
					display: inline-block;
					height: 100%;
					width: 100%;
				}
				
				.te .picture {
	    			text-align: center;
	    			position: relative;
					box-sizing: unset;
				}
			
					.te .picture_veil {
		    			z-index: 200;
					}
					
					.te .picture a {
		    			display: inline-block;
		    			height: 100%;
		    			width: 100%;
					}
			
			.te .personinfo {
    			position: relative;
				float: none;
			}
			
			html[dir="rtl"] .te .personinfo {
			    text-align: right;
			}
			
			.te .picture_left .personinfo {
				clear: right;
			}
			
			.te .picture_right .personinfo {
				clear: left;
			}
			
				.te .text_veil {
	    			z-index: 200;
				}
			
				.te .picture_top .personinfo .fieldname,
				.te .picture_top .personinfo .category,
				.te .picture_top .personinfo .tags,
				.te .ghost_picture_top .personinfo .fieldname,
				.te .ghost_picture_top .personinfo .category,
				.te .ghost_picture_top .personinfo .tags {
					text-align: center;
				}
				
				.te .personinfo .category {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				
				.te .personinfo .personlinks {
					margin-top: 10px;
					overflow: hidden;
				}
				
					.te .personlink {
						display: inline;
						margin-right: 3px;
					}				
				
						.te .personlink a {
							display: inline-block;
						}
				
				.te .personfield {
					overflow: hidden; /* so it does not bleed over the picture */
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				
				.te .personfield.fieldmisc,
				.te .personfield.fieldsummary {
					overflow: inherit;
					text-overflow: inherit;
					white-space: normal;
				}
				
					.te .personinfo .icon {
						line-height: 1em;
						width: 1em;
						display: inline-block;
						margin: 1px 6px 1px 0;
			    		vertical-align: text-top;
					}
					
					.te .personinfo .noicon {
						line-height: 1.1em;
						width: 1em;
						display: inline-block;
						margin: 1px 6px 1px 0;
					}
					
					html[dir="rtl"] .te .personinfo .icon,
					html[dir="rtl"] .te .personinfo .noicon {
						margin: 1px 0 1px 6px;
					}
				
					.te .fieldlabel {
						margin-right: 0.2em;
						vertical-align: baseline;
						display: inline-block;
					}
					
					html[dir="rtl"] .te .fieldlabel {
						margin-right: 0;
						margin-left: 0.2em;
					}
					
					.te .fieldaddress .fieldlabel,
					.te .fieldformattedaddress .fieldlabel,
					.te .fieldmisc .fieldlabel, 
					.te .fieldaddress .icon,
					.te .fieldformattedaddress .icon,
					.te .fieldmisc .icon {
						vertical-align: top;
					}
					
						.te address {
							display: inline-block;
							font-style: normal;
							margin: 0;
						}
						
						.te .personfield.fieldtwitter .fieldvalue:before {
						    content: '@';
						}
						
						.te .fieldmisc .fieldvalue {	
							display: inline;				
						}
					
							.te .fieldmisc .fieldvalue p {	
								margin: 0;				
							}
		
/* carousel */

.te .tc_carousel_wrapper { 
	cursor: default !important; 
	margin-left: auto !important;
	margin-right: auto !important;
}

.te .tc_carousel_wrapper .personlist .person { 		    
	display: block !important; 
	float: left;
}

.te .items_pagination {
	text-align: center;
}
	
.te .items_pagination ul {
	margin: 0;
	padding: 0;
}

.te .items_pagination li {
	display: inline;
	list-style: none;
	cursor: pointer;
}

.te.side_navigation .items_pagination {
	position: absolute;
	z-index: 100;
}

.te.side_navigation .items_pagination.top {
	left: 0;
}

.te.side_navigation .items_pagination.bottom {
	right: 0;
}

.te.above_navigation .items_pagination {
	display: block;
}

.te .items_pagination a:hover,
.te .items_pagination a:focus {
	text-decoration: none;
}

/* label links */

.te .label span,
.te .label .icon {
	vertical-align: middle;
}

.te .label a,
.te .label a:hover,
.te .label a:focus {
	color: #fff;
}

/* social icons */

.te .social .SYWicon-twitter {
	color: #02B0E8 !important;
}

.te .social .SYWicon-facebook {
	color: #3B5998 !important;
}

.te .social .SYWicon-linkedin {
	color: #0077B6 !important;
}

.te .social .SYWicon-googleplus {
	color: #BE2933 !important;
}

.te .social .SYWicon-instagram {
	color: #BBAA7C !important;
}

.te .social .SYWicon-tumblr {
	color: #2C4762 !important;
}

.te .social .SYWicon-pinterest {
	color: #EB5655 !important;
}

.te .social .SYWicon-youtube {
	color: #C4302A !important;
}

.te .social .SYWicon-vimeo {
	color: #46B5FE !important;
}

.te .social .SYWicon-skype {
	color: #28B0EE !important;
}

.te .social .SYWicon-wordpress {
	color: #737C81 !important;
}

.te .social .SYWicon-blogspot {
	color: #FC9C38 !important;
}
